$small: "(max-width:320px)";

footer{
  .container{
    margin-bottom: 155px;
    .to-top{
      text-align: right;
      padding-bottom: 20px;
      border-bottom: 1px solid $beige;
    }
    .footer_menu{
      margin: 35px auto 30px;
      .foot_navi{
        display: flex;
        justify-content: center;
        li{
          position: relative;
          padding: 0 18px;
          @include fontsize(12);
          a{
            color: #000;
          }
          &:before{
            position: absolute;
            content: "・";
            right: -5px;
            }
          &:last-child:before{
            content: none;
          }
          &:first-child{
            padding-left: 0;
          }
          //&:nth-child(3):after {
            //content: none;

          //}
        }
      }
    }
    .copy{
      text-align: center;
      color: #b8b4ac;
      @include fontsize(10);
    }
  }
}

@media #{$small} {
footer{
  .container{
    padding: 0 8px;
    margin-bottom: 90px;
    .to-top{
      text-align: center;
    }
    .footer_menu{
      margin: 20px;
      .foot_navi{
        display: block;
        padding-left: 0;
        text-align: center;
        li{
          display: inline-block;
          font-size: 11px;

        }
      }
    }
  }
  }

}
