header {
  color: #524c3e; }
  header #header_in {
    padding: 40px 0; }
  header .container {
    width: 100%; }
  @media (min-width: 321px) {
    header h1 {
      margin-bottom: 0;
      line-height: 0; }
    header .navi-container .pc_navi {
      float: right; }
      header .navi-container .pc_navi .pc_navi_li {
        display: flex;
        font-size: 13px;
        font-size: 1.3rem;
        margin-bottom: 0; }
        header .navi-container .pc_navi .pc_navi_li li {
          padding: 5px 20px 0 0; }
          header .navi-container .pc_navi .pc_navi_li li:nth-child(5) {
            padding: 0 10px 0 0; }
          header .navi-container .pc_navi .pc_navi_li li:nth-child(6) {
            padding: 0 0 0 0; }
          header .navi-container .pc_navi .pc_navi_li li a {
            color: #524c3e;
            font-weight: bold; }
          header .navi-container .pc_navi .pc_navi_li li a .pc_fb_icon {
            margin-right: 10px; }
          header .navi-container .pc_navi .pc_navi_li li li .pc_fb_icon a {
            margin-right: 10px !important; } }

html {
  font-size: 62.5%; }

body {
  color: #000000;
  margin: 0 auto;
  background-color: #f9f8f6;
  max-width: 940px; }

p {
  font-size: 12px;
  font-size: 1.2rem; }

a {
  text-decoration: none; }

li {
  list-style: none;
  margin: 0;
  padding: 0; }

@media (max-width: 320px) {
  .pc_only {
    display: none; } }
@media (min-width: 321px) {
  .sp_only {
    display: none; } }
#newItems .item-container, #popularItems .item-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  #newItems .item-container li, #popularItems .item-container li {
    width: 30%;
    background: #fff;
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 15px; }
    #newItems .item-container li p, #popularItems .item-container li p {
      margin-bottom: 10px; }
      #newItems .item-container li p img, #popularItems .item-container li p img {
        width: 100%; }
      #newItems .item-container li p span, #popularItems .item-container li p span {
        display: block;
        padding-top: 10px; }
    #newItems .item-container li:nth-child(3n), #popularItems .item-container li:nth-child(3n) {
      margin-right: 0; }

#shoppingGuide .guide_container {
  display: flex;
  background: #fff; }
  #shoppingGuide .guide_container .delivery, #shoppingGuide .guide_container .payment {
    padding: 20px;
    width: 50%; }
    #shoppingGuide .guide_container .delivery dl, #shoppingGuide .guide_container .payment dl {
      margin-bottom: 0; }
      #shoppingGuide .guide_container .delivery dl dt, #shoppingGuide .guide_container .payment dl dt {
        color: #887f69;
        font-weight: bold;
        margin-bottom: 15px;
        line-height: 1; }
        #shoppingGuide .guide_container .delivery dl dt span, #shoppingGuide .guide_container .payment dl dt span {
          font-size: 25px;
          font-size: 2.5rem; }
      #shoppingGuide .guide_container .delivery dl dd, #shoppingGuide .guide_container .payment dl dd {
        margin-bottom: 20px;
        line-height: 1;
        -webkit-margin-start: 0; }
        #shoppingGuide .guide_container .delivery dl dd:last-child, #shoppingGuide .guide_container .payment dl dd:last-child {
          margin-bottom: 10px; }
  #shoppingGuide .guide_container h3 {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #887f69; }
#shoppingGuide .payment {
  border-left: 5px solid #f9f8f6;
  box-sizing: border-box; }

/*# sourceMappingURL=style.css.map */
