header {
  color: #524c3e; }
  header #header_in {
    padding: 40px 0; }
  header .container {
    width: 100%; }
  @media (min-width: 321px) {
    header h1 {
      margin-bottom: 0;
      line-height: 0; }
    header .container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; }
      header .container > :first-child {
        margin-right: auto; }
      header .container .pc_navi_container .pc_navi_wrap {
        display: flex;
        align-items: flex-end;
        font-size: 13px;
        font-size: 1.3rem;
        margin-bottom: 0; }
        header .container .pc_navi_container .pc_navi_wrap li {
          padding-right: 20px; }
          header .container .pc_navi_container .pc_navi_wrap li:nth-child(5) {
            padding-right: 10px; }
          header .container .pc_navi_container .pc_navi_wrap li:nth-child(6) {
            padding: 0; }
          header .container .pc_navi_container .pc_navi_wrap li a {
            color: #524c3e;
            font-weight: bold; } }

html {
  font-size: 62.5%; }

body {
  color: #000000;
  margin: 0 auto;
  background-color: #f9f8f6;
  max-width: 940px; }

p {
  font-size: 12px;
  font-size: 1.2rem; }

a {
  text-decoration: none; }

li {
  list-style: none;
  margin: 0;
  padding: 0; }

.uppercase {
  text-transform: uppercase; }

@media (max-width: 320px) {
  .pc_only {
    display: none; } }
@media (min-width: 321px) {
  .sp_only {
    display: none; } }
#container {
  display: flex;
  justify-content: space-between; }
  #container .main {
    max-width: 700px;
    margin-right: 20px; }
    #container .main #newItems h2, #container .main #popularItems h2 {
      margin: 30px 0; }
    #container .main #newItems .item-container, #container .main #popularItems .item-container {
      display: flex;
      flex-wrap: wrap;
      padding: 0; }
      #container .main #newItems .item-container li, #container .main #popularItems .item-container li {
        width: 33.33%;
        background: #fff;
        border-right: 2px solid #f9f8f6;
        border-bottom: 2px solid #f9f8f6;
        box-sizing: border-box;
        padding: 15px; }
        #container .main #newItems .item-container li p, #container .main #popularItems .item-container li p {
          margin-bottom: 10px; }
          #container .main #newItems .item-container li p img, #container .main #popularItems .item-container li p img {
            width: 100%; }
          #container .main #newItems .item-container li p span, #container .main #popularItems .item-container li p span {
            display: block;
            padding-top: 10px; }
        #container .main #newItems .item-container li:nth-child(3n), #container .main #popularItems .item-container li:nth-child(3n) {
          border-right: 0; }
    #container .main #shoppingGuide h2 {
      margin: 30px 0; }
    #container .main #shoppingGuide .guide_container {
      display: flex;
      background: #fff; }
      #container .main #shoppingGuide .guide_container .delivery, #container .main #shoppingGuide .guide_container .payment {
        padding: 20px;
        width: 50%; }
        #container .main #shoppingGuide .guide_container .delivery dl, #container .main #shoppingGuide .guide_container .payment dl {
          margin-bottom: 0;
          font-size: 12px;
          font-size: 1.2rem; }
          #container .main #shoppingGuide .guide_container .delivery dl dt, #container .main #shoppingGuide .guide_container .payment dl dt {
            color: #887f69;
            font-weight: bold;
            margin-bottom: 15px;
            line-height: 1; }
          #container .main #shoppingGuide .guide_container .delivery dl dd, #container .main #shoppingGuide .guide_container .payment dl dd {
            margin-bottom: 20px;
            line-height: 1;
            -webkit-margin-start: 0; }
            #container .main #shoppingGuide .guide_container .delivery dl dd:last-child, #container .main #shoppingGuide .guide_container .payment dl dd:last-child {
              margin-bottom: 10px; }
      #container .main #shoppingGuide .guide_container h3 {
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: bold;
        color: #887f69;
        margin: 0 0 20px 0; }
    #container .main #shoppingGuide .payment {
      border-left: 5px solid #f9f8f6;
      box-sizing: border-box; }
  #container .sideNavi {
    max-width: 220px; }
    #container .sideNavi .search-box {
      padding: 20px;
      background-color: #fff; }
      #container .sideNavi .search-box p {
        margin: 0 0 10px 0; }
      #container .sideNavi .search-box span {
        display: block;
        background: url(../images/top/search_icon.png) no-repeat; }
        #container .sideNavi .search-box span input {
          width: 160px;
          height: 10px;
          background-color: #eeeeee;
          border: none;
          padding: 10px;
          color: #b5b5b5; }

/*# sourceMappingURL=style.css.map */
